<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{dashboard.title}">Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:text="#{dashboard.nav.brand}">Dashboard</a>
        <div class="ms-auto">
            <a th:href="@{/?lang=en}" class="btn btn-sm btn-outline-secondary">English</a>
            <a th:href="@{/?lang=uk}" class="btn btn-sm btn-outline-secondary">Українська</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h1 th:text="#{dashboard.header}">Dashboard</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col" th:text="#{voucher.table.id}">#ID</th>
            <th scope="col" th:text="#{voucher.table.title}">Voucher Title</th>
            <th scope="col" th:text="#{voucher.table.description}">Description</th>
            <th scope="col" th:text="#{voucher.table.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${vouchers}">
            <td th:text="${voucher.id}">ID</td>
            <td th:text="${voucher.title}">Title</td>
            <td th:text="${voucher.description}">Description</td>
            <td>
                <a th:href="@{/vouchers/order(voucherId=${voucher.id})}"
                   class="btn btn-outline-success"
                   th:text="#{button.order}">
                    Order
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>